.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #00fff2 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #00fff2 !important;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
	background-color: rgb(0, 1, 8) !important;
}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
	color: rgb(255, 255, 255) !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
	background-color: rgb(0, 1, 8) !important;
}
.ant-card {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5715;
	list-style: none;
	font-feature-settings: 'tnum', "tnum";
	position: relative;
	background: rgba(0, 0, 0, 0.568);
	border-radius: 5px;
}
.ant-typography strong {
	font-weight: 600;
	color: white;
}
.ant-layout, .ant-layout * {
	box-sizing: border-box;
	color: white;
	font-family: "Raleway", Helvetica, sans-serif;
}